// Color names.
// See http://www.colourlovers.com/palette/110225/Vintage_Modern
$eames: #8C2318;
$knoll: #5E8C6A;
$hans_wegner: #88A65E;
$cantaloupe_skin: #BFB35A;
$verner_panton: #F2C45A;

// Some extra colors.
$pumpkin_orange: #FF9B00;
$apple_orange: #FF7E00;
$punk_pink: #ED004E;

// Computed colors.
$knoll_dark: darken($knoll, 25);
$hans_wegner_dark: darken($hans_wegner, 30);
$cantaloupe_skin_light: lighten($cantaloupe_skin, 30);
$verner_panton_dark: darken($verner_panton, 30);
$verner_panton_darker: darken($verner_panton_dark, 10);

// Colors for elements.
$header_ankur_color: $knoll_dark;
$header_sethi_color: $knoll_dark;
$header_in_color: $knoll_dark;
$page_wrap_border_color: $knoll_dark;
$body_background_color: $cantaloupe_skin_light;
$link_color: $eames;
$h2_color: $knoll_dark;
$top_navbar_link_color: $eames;
$journal_entry_meta_color: $knoll_dark;
$journal_entry_meta_link_color: $eames;
$journal_entry_meta_link_hover_color: $eames;

$permalink_color: $body_background_color;
$permalink_background_color: $top_navbar_link_color;
$permalink_hover_color: $permalink_background_color;
$permalink_hover_background_color: $body_background_color;
