// Color names.
// See http://www.colourlovers.com/palette/2072539/300_Flames_of_Love
$just_a: #880606;
$every: #D53D0C;
$orange_juice: #FF8207;
$blackboard: #231D1E;
$almost_white: #FCFCFC;

// Computed colors.


// Colors for elements.
$header_ankur_color: $blackboard;
$header_sethi_color: $blackboard;
$header_in_color: $blackboard;
$page_wrap_border_color: $every;
$body_background_color: $almost_white;
$link_color: $just_a;
$h2_color: $just_a;
$top_navbar_link_color: $every;
$journal_entry_meta_color: $every;
$journal_entry_meta_link_color: $every;
$journal_entry_meta_link_hover_color: $just_a;

$permalink_color: $body_background_color;
$permalink_background_color: $top_navbar_link_color;
$permalink_hover_color: $permalink_background_color;
$permalink_hover_background_color: $body_background_color;
