// Color names.
// See http://www.colourlovers.com/palette/435467/Vertebrae
$darth_gray: #666666;
$barbara: #ABDB25;
$fog: #999999;
$white: #FFFFFF;
$all_cs: #CCCCCC;

// Computed colors.
$darth_gray_dark: darken($darth_gray, 27);
$all_cs_light: lighten($all_cs, 20);
$barbara_dark: darken($barbara, 35);

// Colors for elements.
$body_text_color: $darth_gray_dark;
$header_ankur_color: black;
$header_sethi_color: black;
$header_in_color: black;
$page_wrap_border_color: black;
$body_background_color: $all_cs_light;
$link_color: $barbara_dark;
$h2_color: black;
$top_navbar_link_color: $barbara_dark;
$journal_entry_meta_color: $darth_gray_dark;
$journal_entry_meta_link_color: $darth_gray_dark;
$journal_entry_meta_link_hover_color: $darth_gray_dark;

$permalink_color: $body_background_color;
$permalink_background_color: $top_navbar_link_color;
$permalink_hover_color: $permalink_background_color;
$permalink_hover_background_color: $body_background_color;
