@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', verdana, arial, sans-serif;
  width: 740px;
  margin-left: auto;
  margin-right: auto;
  background-color: #333333;
  background-image: url("/static/gravy/pat.png");
  font-size: 14px;
  line-height: 25px;
  color: #555;
}

a {
  text-decoration: none;
  color: #B65A05;
}

a:hover {
  text-decoration: underline;
}

pre {
  color: #EEE;
  background-color: #322F27;
  padding: 7px;
  line-height: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: "Courier New", "Courier", monospace;
  font-size: 14px;
}

code {
  font-family: "Courier New", "Courier", monospace;
}

p + p {
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #423F37;
  font-family: "Merriweather", "Georgia", serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #423F37;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 35px;
}

.outside-block {
  padding-left: 45px;
  color: #E8CAA4;
}

.outside-block a {
  color: #F1AD57;
}

.logo {
  font-family: 'Merriweather', 'Palatino Linotype','Palatino', 'Georgia', serif;
  color: #F8F2EF;
  font-size: 1.5em;
  font-weight: normal;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 14px;
}

.arrow-group .next {
  margin-left: 14px;
}

.arrow-group .prev {
  margin-right: 14px;
}

.content-block {
  background-color: white;
  padding: 25px 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 1px 1px #2C2C2C;
}

.content-block-footer {
  font-size: 12px;
  border-top: solid 1px #CCC;
  margin-top: 30px;
}

.inline {
  display: inline;
}

.bookmark {
  margin-top: 20px;
}

.bookmark-hostname a {
  color: gray;
  size: 0.85em;
}

.bookmark-ago {
  color: gray;
  font-size: 0.85em;
}

.bookmark-note p {
  margin: 0px;
}

.bookmark-tags {
  /*font-size: 0.85em;*/
}

.bookmark-hostname {
  color: gray;
}

.bookmark-url {
  color: #555;
  font-weight: bold;
  text-decoration: underline;
}

.label {
  background-color: #B65A05;
  color: white;
  padding: 2px 4px;
  border-radius: 3px;
}

.label:hover {
  background-color: #D67D2A;
}

a.label {
  text-decoration: none;
}

.label.disabled {
  background-color: gray;
}

.label.disabled:hover {
  background-color: gray;  
}

.pagination {
  margin-top: 20px;
}

.cob-form {
  margin-top: 20px;
}

.cob-form .control-group {
  margin-top: 10px;
}

.cob-form input[type="text"] {
  font-size: 1.3em;
  width: 20em;
}

.cob-form textarea {
  font-size: 1.3em;
  width: 20em;
  height: 10em;
}

.cob-form input[type="submit"] {
  margin-top: 20px;
  font-size: 1.3em;
}

.cob-form .help-inline {
  margin-left: 1em;
}