// @import "color_theme_vintage_modern";
@import "color_theme_vertebrae";
@import "yui_reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

$line-height: 1.5em;

/* Main styles. */

html {
    overflow-y: scroll;
}

body {
    font-size: 14px;
    font-family: 'Open Sans', verdana, arial, sans-serif;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: #003399;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
    line-height: $line-height;

    /* Default margins are 1em. Change to match line height. */
    margin-top: $line-height;
    margin-bottom: $line-height;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;

    /* Make sure line height is same as paragraphs. */
    // line-height: 1.1em;
    // margin-bottom: 1.1em;
    // color: $h2_color;
    // font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

ul {
    margin-left: 2em;

    li {
        list-style: square;
        line-height: $line-height;
        margin-bottom: $line-height;
    }
}

#ankur_sethi {
    // margin-top: 0.5em;
    line-height: 2em;
}

#top_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#top_navbar ul li {
    display: inline;
    margin-right: 1em;
}

#main_divider {
    clear: both;
    margin-top: 1em;
    margin-bottom: 2.5em;
    height: 1px;
    background-color: black;
    color: black;
}

#footer {
    clear: both;
}

#pagination:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0;
}

#pagination {
    margin-bottom: 2 * $line-height;
}

#paginate_arrows {
    float: left;
}

#paginate_arrow_previous {
    margin-right: 1em;
}

#paginate_arrow_next {
    margin-left: 1em;
}

#paginate_journal_archive {
    float: right;
}

.content_block {
    padding-bottom: $line-height;
    margin-bottom: 2 * $line-height;
    border-bottom: dotted 1px silver;
    hyphens: auto;
    text-align: justify;
}
