@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url(http://fonts.googleapis.com/css?family=Merriweather);

html {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans', verdana, arial, sans-serif;
  background-color: #292929;
  background-image: url("/static/gravy/pat.png");
  font-size: 14px;
  line-height: 1.75em;
  color: #555;
}

a {
  text-decoration: none;
  color: #B65A05;
}

a:hover {
  text-decoration: underline;
}

pre {
  color: #EEE;
  background-color: #322F27;
  padding: 0.5em;
  line-height: 1.45em;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
  font-family: "Courier New", "Courier", monospace;
  font-size: 1em;
  overflow-x: scroll;
}

code {
  font-family: "Courier New", "Courier", monospace;
}

p + p {
    margin-top: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #423F37;
  font-family: "Merriweather", "Georgia", serif;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #423F37;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 35px;
}

.page_wrap,
.outside-block
{
  margin-left: auto;
  margin-right: auto;
}

.content-block {
  background-color: white;
  padding: 1.5em;
  box-shadow: 0px 0px 1px 1px #2C2C2C;
}

.content-block + .content-block {
  margin-top: 1em;
}

.outside-block {
  color: #E8CAA4;
  padding: 0.5em;
}

.outside-block a {
  color: #F1AD57;
}

.logo {
  font-family: 'Merriweather', 'Palatino Linotype','Palatino', 'Georgia', serif;
  color: #F8F2EF;
  font-size: 1.5em;
  font-weight: normal;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
}

.navbar ul li {
  display: inline;
  margin-right: 14px;
}

.arrow-group .next {
  margin-left: 14px;
}

.arrow-group .prev {
  margin-right: 14px;
}

.content-block-footer {
  font-size: 0.85em;
  border-top: solid 1px #CCC;
  margin-top: 2.15em;
}

.inline {
  display: inline;
}

.bookmark {
  margin-top: 1.45em;
}

.bookmark-hostname a {
  color: gray;
  size: 0.85em;
}

.bookmark-ago {
  color: gray;
  font-size: 0.85em;
}

.bookmark-note p {
  margin: 0px;
}

.bookmark-hostname {
  color: gray;
}

.bookmark-url {
  color: #555;
  font-weight: bold;
  text-decoration: underline;
}

.label {
  background-color: #B65A05;
  color: white;
  padding: 0.15em 0.5em;
  border-radius: 3px;
}

.label:hover {
  background-color: #D67D2A;
}

a.label {
  color: white;
  text-decoration: none;
}

.label.disabled {
  background-color: gray;
}

.label.disabled:hover {
  background-color: gray;  
}

.pagination {
  margin-top: 1.45em;
}

.pagination .current {
  margin-left: 1em;
  margin-right: 1em;
}

.cob-form {
  margin-top: 1.45em;
}

.cob-form .control-group {
  margin-top: 0.75em;
}

.cob-form input[type="text"] {
  font-size: 1.3em;
  width: 75%;
}

.cob-form textarea {
  font-size: 1.3em;
  width: 75%;
  height: 10em;
}

.cob-form input[type="submit"] {
  margin-top: 20px;
  font-size: 1.3em;
}

.cob-form .help-inline {
  display: block;
}

/* Media queries. */

@media screen and (min-width: 45em) {
  .page_wrap {
    width: 50%;
  }

  .outside-block {
    width: 45%;
  }

  .content-block {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .content-block + .content-block {
    margin-top: 2em;
  }
}

@media screen and (min-width: 55em) {
  .content-block {
    padding: 1.75em 3.25em;
  }
}