// @import "color_theme_vintage_modern";
@import "color_theme_vertebrae";
@import "yui_reset";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,400);

$line-height: 1.5em;

/* Main styles. */

html {
    background-color: $body_background_color;
}

body {
    color: $body_text_color;
    font-size: 15px;
    font-family: 'Open Sans', verdana, arial, sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    background-color: $body_background_color;
}

a {
    text-decoration: none;
    color: $link_color;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 1em;
    line-height: $line-height;

    /* Default margins are 1em. Change to match line height. */
    margin-top: $line-height;
    margin-bottom: $line-height;
}

h2 {
    font-size: 1.5em;

    /* Make sure line height is same as paragraphs. */
    line-height: 1.1em;
    margin-bottom: 1.1em;
    color: $h2_color;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

ul {
    margin-left: 2em;
    li {
        line-height: 1.5em;
    }
}

#header_wrap {
    margin-top: 1em;
}

#header {
    font-size: 1.2em;
    float: left;
    display: inline;
    margin-right: 2em;
    font-family: 'Open Sans';

    #header_ankur, #header_sethi, #header_in {
        font-weight: 600;
    }

    #header_ankur {
        color: $header_ankur_color;
    }

    #header_sethi {
        color: $header_sethi_color;
    }

    #header_in {
        color: $header_in_color;
    }
}

#top_navbar {
    margin-bottom: 1.5em;
    float: left;
    display: inline;
    vertical-align: middle;
}

#top_navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

#top_navbar ul li {
    display: inline;
    margin-right: 1em;
}

#top_navbar a {
    padding: 0.3em;
    font-size: 1.2em;
    color: $top_navbar_link_color;
}

#top_navbar a:hover {
    text-decoration: none;
    background-color: $top_navbar_link_color;
    color: white;
    border-radius: 0.5em;
}

#contact {
    float: right;
    width: 25%;
}

#content {
    float: left;
}

#sidebar {
    float: right;
}

#page_wrap {
    padding-top: 2.933333em;
    padding-left: 1.5em;
    border-top: solid 0.2em $page_wrap_border_color;
    clear: both;
}

#content {
    width: 65%;
}

#sidebar {
    width: 25%;
}

#footer {
    clear: both;
}

#pagination:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    line-height: 0;
    height: 0;
}

#pagination {
    margin-bottom: 2.933333em;
}

#paginate_arrows {
    float: left;
}

#paginate_arrow_previous {
    margin-right: 1em;
}

#paginate_arrow_next {
    margin-left: 1em;
}

#paginate_journal_archive {
    float: right;
}

.content_block {
    padding-bottom: 1.433333em;
    margin-bottom: 2.933333em;
    border-bottom: dotted 1px silver;
}

/* Styles for journal archive. */

.journal_entry_meta {
    color: $journal_entry_meta_color;
}

.posted_on {
    vertical-align: middle;
}

.journal_entry_title a {
    color: $h2_color;
}

.permalink {
    display: inline-block;
    color: $permalink_color;
    background-color: $permalink_background_color;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5em;
    border-radius: 5em;
    text-align: center;
    text-decoration: none;
    margin-right: 1em;
    border: solid 1px $permalink_background_color;
    vertical-align: middle;
}

.permalink:hover {
    background-color: $permalink_hover_background_color;
    border: solid 1px $permalink_hover_color;
    color: $permalink_hover_color;
    text-decoration: none;
}
