{% extends "gravy/base.html" %}
{% block title %}Journal Archive{% endblock %}

{% block content %}
  {% for journal_entry in journal_entry_list %}
    <section class="journal_entry">
      <div class="journal_entry_head">
        {% if journal_entry.title %}
          <h2>{{ journal_entry.title }}</h2>
        {% endif %}
        <p class="journal_entry_meta"><a class="permalink" href="{{ journal_entry.url }}"> &infin; </a><span class="posted_on">Posted on {{ journal_entry.published_on }}</span></p>
      </div>

      <p class="journal_entry_content">{{ journal_entry.content|safe }}</p>
    </section>
  {% endfor %}
{% endblock %}

{% block sidebar %}
    <nav>
      <h2>Archives</h2>
      <ul id="archive_year">
        <li><a href="{% url cob_journal_index %}">All Posts</a>
        {% for year, months in active_years.items %}
          <li><a href="{% url cob_journal_year_archive_view year=year %}">{{ year }}</a></li>
        {% endfor %}
      </ul>
    </nav>
{% endblock %}
