{% extends "gravy/base.html" %}
{% block title %}Journal Archive{% endblock %}

{% block content %}

  {% block entry_list %}
    {% for journal_entry in journal_entry_list %}
      <section class="content_block">
        <div class="journal_entry_head">
          {% if journal_entry.title %}
            <h2>{{ journal_entry.title }}</h2>
          {% endif %}
          <p class="journal_entry_meta">{{ journal_entry.published_on }} <a href="{{ journal_entry.url }}">permalink</a></p>
        </div>

        {% if not journal_entry.title %}
          <p class="journal_entry_content">{{ journal_entry.content|safe|truncatewords_html:25 }}</p>
        {% endif %}
      </section>
    {% endfor %}
  {% endblock %}

  {% block pagination %}
  {% endblock %}
{% endblock %}

{% block sidebar %}
{% endblock %}
