{% extends "gravy/base.html" %}

{% block extrahead %}
    {{ block.super }}

    <a rel="author" href="https://plus.google.com/111321888644675864725?rel=author">Ankur Sethi</a>
{% endblock extrahead %}

{% block title %}
    {% if journal_entry.title %}
        {{ journal_entry.title }}
    {% else %}
        {{ journal_entry.published_on|date:"F d, Y, H:i" }}
    {% endif %}
{% endblock %}

{% block content %}
  {% include "journal/entry_snippet.html" %}

    <section class="content_block">
        <div class="content_wrap">
            <p>If you have a comment or a correction related to this post, you may send me an email at <a href="mailto:contact@ankursethi.in">contact@ankursethi.in</a>. You may also send a tweet to <a href="http://twitter.com/GnrlMxms">GnrlMxms</a>.</p>
        </div>
    </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
