{% load tz %}

<div class="content-block" itemscope itemtype="http://schema.org/BlogPosting">
    <h2 class="content-block-title">
        <a href="{{ journal_entry.get_absolute_url }}" itemprop="url">
            <span itemprop="headline">
                {{ journal_entry.title }}
            </span>
        </a>
    </h2>

    <div itemprop="articleBody">
        {{ journal_entry.content_processed|safe }}
    </div>

    <div class="content-block-footer">
        <time itemprop="datePublished" datetime="{{ journal_entry.published_on|utc|date:"Y-m-d" }}T{{ journal_entry.published_on|utc|date:"G:i" }}Z">
        Posted on {{ journal_entry.published_on|date:"F d, Y" }}
        </time>
    </div>
</div>