{% extends "gravy/base.html" %}

{% block title %}
    {% if journal_entry.title %}
        {{ journal_entry.title }}
    {% else %}
        {{ journal_entry.published_on|date:"F d, Y, H:i" }}
    {% endif %}
{% endblock %}

{% block content %}
  {% include "journal/entry_snippet.html" %}

    <div class="content-block">
        <p>If you have a comment or a correction related to this post, you can email me at <a href="mailto:contact@ankursethi.in">contact@ankursethi.in</a>. You may also send a tweet to <a href="http://twitter.com/GnrlMxms">@GnrlMxms</a>.</p>
    </div>
{% endblock %}