{% extends "gravy/base.html" %}
{% block title %}
    {% if journal_entry.title %}
        {{ journal_entry.title }}
    {% else %}
        {{ journal_entry.published_on|date:"F d, Y, H:i" }}
    {% endif %}
{% endblock %}

{% block content %}
  <section class="content_block">

    <div class="journal_entry_head">
      <h2 class="journal_entry_title"><a href="{{ journal_entry.url }}">{{ journal_entry.title }}</a></h2>
    </div>

    {{ journal_entry.content|safe }}

    <p>Posted on {{ journal_entry.published_on|date:"M d, Y" }}</p>

  </section>
{% endblock %}

{% block sidebar %}
{% endblock %}
