{% extends "gravy/base.html" %}
{% block title %}Journal{% endblock %}

{% block content %}
  {% if journal_entry_list %}
    {% for journal_entry in journal_entry_list %}
      {% include "journal/entry_snippet.html" %}
    {% endfor %}
  {% else %}
    <div class="content-block">
        <p>No journal entries yet, but do check back soon!</p>
    </div>
  {% endif %}
{% endblock content %}

{% block extraoutside_before_footer %}
  {% if journal_entry_list %}
    <div id="pagination" class="outside-block">
      <div class="arrow-group">
        {% if page_obj.has_previous %}
          <a class="previous" href="{% url cob_journal_index_paginated page=page_obj.previous_page_number %}">&larr; Previous Page</a>
        {% else %}
          <span class="previous">&larr; Previous Page</span>
        {% endif %}

        {% if page_obj.has_next %}
          <a class="next" href="{% url cob_journal_index_paginated page=page_obj.next_page_number %}">Next Page &rarr;</a>
        {% else %}
          <span class="next">Next Page &rarr;</span>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock extraoutside_before_footer %}