{% extends "gravy/base.html" %}
{% block title %}Journal{% endblock %}

{% block content %}
  {% if journal_entry_list %}
    {% for journal_entry in journal_entry_list %}
      {% include "journal/entry_snippet.html" %}
    {% endfor %}
  {% else %}
    <div class="content-block">
        <p>No journal entries yet, but do check back soon!</p>
    </div>
  {% endif %}
{% endblock content %}

{% block extraoutside_before_footer %}
  {% if journal_entry_list %}
    <div class="outside-block pagination">
        {% if page_obj.has_previous %}
            <a class="label" href="?page={{ page_obj.previous_page_number }}">← prev</a>
        {% else %}
            <span class="label disabled">← prev</span>
        {% endif %}

        <span class="current">
            page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a class="label" href="?page={{ page_obj.next_page_number }}">next →</a>
        {% else %}
            <span class="label disabled">next →</span>
        {% endif %}
    </div>
  {% endif %}
{% endblock extraoutside_before_footer %}