<div class="pagination outside-block">
    {% if page_obj.has_previous %}
        <a class="label" href="?page={{ page_obj.previous_page_number }}">← prev</a>
    {% else %}
        <span class="label disabled">← prev</span>
    {% endif %}

    <span class="current">
        page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a class="label" href="?page={{ page_obj.next_page_number }}">next →</a>
    {% else %}
    	<span class="label disabled">next →</span>
	{% endif %}
</div>
