<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - {% block title_postfix %}Ankur Sethi{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}gravy/style.css">
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url feed_view %}">
    <meta charset="utf-8">
    <link rel="author" href="https://plus.google.com/111321888644675864725?rel=author">

    {% block extrahead %}{% endblock extrahead %}

    <!-- Google Analytics Code -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34322298-1']);
        _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>

  <body>
    <div class="header outside-block">
      {% block header %}
        <h1 class="logo">ankur sethi makes computers do things</h1>
      {% endblock %}

      <div class="navbar">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/journal">journal</a></li>
          <li><a href="{% url bookmarks_list %}">bookmarks</a></li>
          <li><a href="/about">about</a></li>
          <li><a href="/contact">contact</a></li>
          <li><a href="{% url feed_view %}">feed</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url logout %}">logout {{ user.username }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div id="page_wrap">
        {% block content %}{% endblock %}
    </div>

    {% block extraoutside_before_footer %}
    {% endblock extraoutside_before_footer %}

    <div class="outside-block" id="footer">
      {% block footer %}
      <p>Website powered by <a href="http://python.org">Python</a>, <a href="http://djangoproject.com">Django</a> and a <a href="http://github.com/GeneralMaximus/can_o_beans/">Can O' Beans</a>. See <a href="/license/">license</a> for legal incantations.</p>
      {% endblock %}
    </div>
  </body>
</html>
